body{
  font-family: 'Oswald', sans-serif;
}

h2 {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:active{
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

p {
  text-align: center;
}

div.calc {
  background-color: #5ABCB9;
  margin: 0px auto;
  width: 33%;
  height: auto;
  padding: 1.5vw;
  box-shadow: 2px 2px 5px gray;
}

button {
  background-color: #FFD3BC;
  font-size: 1.5vw;
  border: none;
  height: 2.6vw;
  width: 2.6vw;
  margin: 5px; 
  box-shadow: 2px 2px 5px gray;
  transition: 0.2s;
  
}

button:hover {
  background-color: #FFE1D4;
 
}

button:focus {
  outline: none;
}

textarea {
  margin: 0px auto;
  font-size: 2vw;
  width: 100%;
  border: none;
  text-align: right;
}
